@red: rgb(177, 33, 40);

@img-max-width: 320px;
@img-white-space: 1em;

@almanac-first-col: 8%;
@almanac-link-width: 12%;

.cms {
	h2 {
		margin-top: 1.5em;

		&:first-child {
			margin-top: 0;
		}
	}

	h3 {
		margin-top: 1em;
	}

	h2, h3, h4, h5, h6 {
		clear: both;
	}

	img {
		max-width: 100%;
		padding: 0;
		padding-bottom: @img-white-space;

		&.left {
			float: left;
			max-width: @img-max-width;
			padding-right: @img-white-space;
		}

		&.right {
			float: right;
			max-width: @img-max-width;
			padding-left: @img-white-space;
		}
	}

	table {
		&.almanac {
			padding-bottom: 2em;
			width: 100%;

			@media only screen and (min-width: 768px) { 
				width: 440px;
			}

			.link {
				text-align: center;
				width: @almanac-link-width;
			}

			td:first-child {
				min-width: @almanac-first-col;
			}

			+ h3 {
				margin-top: 0;
			}
		}

		&.honour {
			border-spacing: 0;
			width: 100%;

			tr {
				text-align: left;
				vertical-align: top;

				th {
					border-top: 1px solid #ccc;;
					padding-top: 2em;
					vertical-align: bottom;
				}

				&:first-child {
					th {
						border-top: 0;
						padding-top: 0;
					}
				}

				td {
					border-top: 1px solid #ccc;;
					min-width: 100px;
					white-space: nowrap;

					&:first-child {
						min-width: 50px;
					}


					&.multiple {
						border-top: 0;
					}
				}

				&:last-child {
					td {
						border-bottom: 1px solid #ccc;;
					}
				}
			}
		}

		&.regional {
			border-spacing: 0;
			width: 100%;

			tr {
				th {
					text-align: left;
				}

				td, th {
					border-top: 1px solid #ccc;
				}


				&:first-child {
					td, th {
						border-top: 0;
					}
				}

				&:last-child {
					td, th {
						border-bottom: 1px solid #ccc;
					}
				}
			}
		}
	}
}
