@import (reference) "all";

@page {
	margin: 0.25cm 1cm;
}

h1 { font-size: 120%; }
h2 { font-size: 115%; }
h3 { font-size: 110%; }

h1, h2, h3, h4, h5, h6, strong {
	font-weight: bold;
}

section {
	page-break-before: always;
}

header {
	@logo: "../images/eft-logo-horizontal.png";

	background-image: url(@logo);
  background-size: 150px;
	background-repeat: no-repeat;
	background-position: center right;
	min-height: image-height(@logo) / 2;

	h1, h2 {
		text-align: center;
		prince-bookmark-level: none;
	}

	h2 {
		color: @blue;
		text-transform: uppercase;
		margin: 3mm 0 2mm;
	}

	h3 {
		display: none;
		prince-bookmark-level: 1;
	}
}

article {
	.teamlist {
		page-break-inside: avoid;
	}

	h4 {
		font-size: 150%;
		margin: 0;
		padding: 0;
	}

	table {
		border-collapse: collapse;
		border: solid 1px black;
		font-size: 10pt;
		width: 100%;

		@score_width: 7mm;

		th, td {
			border: solid 1px black;
			height: 5mm;

			&:first-child,
			&.score {
				text-align: center;
				width: @score_width;
			}

			&.a,
			&.discipline {
				border-left-width: 2px;
			}

			&.discipline {
				width: @score_width * 3;
			}

			&.total,
			&.subtotal {
				border-left-width: 2px;
				border-top-width: 2px;
			}

			&:nth-child(2) {
				padding: 0 4px;
			}
		}

		th {
			border-bottom-width: 2px;
			font-weight: bold;
			text-align: center;
		}

		tfoot {
			th {
				height: 1cm;

				&:nth-child(2) {
					text-align: left;

					&:after {
						content: ":";
					}
				}
			}
		}
	}

	p {
		color: #900;
		font-size: 10pt;
		font-weight: bold;
		padding: 2mm 3mm;
		text-align: center;
	}
}

dl {
	border-bottom: solid 1px black;
	display: inline-block;
	font-size: 90%;
	width: 100%;

	dt, dd {
		float: left;
		margin: 0;
	}

	dt {
		font-weight: bold;
		padding-right: 0.25em;

    &:after {
      content: ":";
    }
	}

	dd {
		padding-right: 0.5em;
	}
}

.referees {
	border: solid 2px black;
	font-size: 10pt;
	padding: 2mm 3mm;

	strong:after {
		content: ":";
	}
}

.flag {
	@size: 42;

	background-repeat: no-repeat !important;
	margin: 0 0 2px !important;

	&.big {
		background-position: unit(@size / 4, px) 0 !important;
		background-size: unit(@size, px) unit(@size, px) !important;
		height: unit(@size / 4 * 3, px);
		padding: unit(@size / 5, px) 0 0 unit(@size * 1.5, px) !important;
	}

	/* Countries that don't have an ISO 3166 alpha-2 code */

  /*
  .flag-wrapper-name(KEL, Kelpies, @size);
  .flag-wrapper-name(STA, Stags, @size);
  .flag-wrapper-name(CRU, Crusaders, @size);
  .flag-wrapper-name(DEV, Devils, @size);
  .flag-wrapper-name(FAL, Falcons, @size);
  .flag-wrapper-name(FRE, Frenchies, @size);
  .flag-wrapper-name(KEL, Kelpies, @size);
  .flag-wrapper-name(KNI, Knights, @size);
  .flag-wrapper-name(ROY, Royals, @size);
  .flag-wrapper-name(STA, Stags, @size);

  .flag-wrapper-name(DRA, Dragons, @size);
  .flag-wrapper-name(GUE, Guernsey, @size);
  .flag-wrapper-name(LIN, Linces, @size);
  .flag-wrapper-name(LIO, Lions, @size);
  .flag-wrapper-name(PUM, Pumpernickels, @size);
  .flag-wrapper-name(ROO, Roosters, @size);
  .flag-wrapper-name(SCH, Scholars, @size);
  .flag-wrapper-name(STE, "Steibök", @size);
  */
}

.logo(@abbreviation, @name) {
  table.@{abbreviation} {
    background-image: url("../images/clubs/@{name}.png");
    background-size: 10cm;
    background-repeat: no-repeat;
    background-position: center;

    td, th {
      background: rgba(255, 255, 255, 0.8);
    }
  }
}

.logo(CRU, Crusaders);
.logo(DEV, Devils);
.logo(FAL, Falcons);
.logo(FRE, Frenchies);
.logo(KEL, Kelpies);
.logo(KNI, Knights);
.logo(ROY, Royals);
.logo(STA, Stags);

.logo(DRA, Dragons);
.logo(GUE, Guernsey);
.logo(LIN, Linces);
.logo(LIO, Lions);
.logo(PUM, Pumpernickels);
.logo(ROO, Roosters);
.logo(SCH, Scholars);
.logo(STE, "Steibök");
