@blue: #052458;
@blue2: #083888;
@yellow: #fae016;
@yellow2: #f1d605;
@white: #fefefe;

#menu-c .navbar,
#menu-c .nav-dropdown-sm {
  background: @blue;
  .link:hover {
    background: @blue !important;
  }
}

#menu-c .link:hover {
  color: @yellow;
}

a {
  color: @blue;

  &:hover, &:focus {
    color: @blue2;
  }
}

.bg-primary {
  background-color: @blue !important;
}

.btn-primary {
  background-color: @blue;
  border-color: @blue;

  &:hover {
    background-color: @blue2;
    border-color: @blue2;
    color: @yellow;
  }
}

.lead a, .lead a:hover {
  color: @blue;
}

.mbr-iconfont-counters1 {
  color: @blue;
}

.article dl dd {
  margin-left: 12em;
}

.mbr-footer {
  background-color: @blue;
}

/* handle permit logos */

@logo-size: 36px;
@cell-padding: 12px;

.logo(@abbrev, @name) {
  .logo {
    &.@{abbrev} {
      background-image: url('../../images/clubs/@{name}.png');
    }
  }
}

.logo {
  background-size: @logo-size;
  background-position: @cell-padding center;
  background-repeat: no-repeat;

  a {
    padding-left: (@logo-size + @cell-padding);
  }
}

.row div.logo {
  height: 110px;
  background-size: 100px;
  background-position: 50% top;
}

.logo(CRU, Crusaders);
.logo(DEV, Devils);
.logo(FAL, Falcons);
.logo(FRE, Frenchies);
.logo(KEL, Kelpies);
.logo(KNI, Knights);
.logo(ROY, Royals);
.logo(STA, Stags);

.logo(DRA, Dragons);
.logo(GUE, Guernsey);
.logo(LIN, Linces);
.logo(LIO, Lions);
.logo(PUM, Pumpernickels);
.logo(ROO, Roosters);
.logo(SCH, Scholars);
.logo(STE, "Steibök");
