#menu-c .navbar,
#menu-c .nav-dropdown-sm {
  background: #052458;
}
#menu-c .navbar .link:hover,
#menu-c .nav-dropdown-sm .link:hover {
  background: #052458 !important;
}
#menu-c .link:hover {
  color: #fae016;
}
a {
  color: #052458;
}
a:hover,
a:focus {
  color: #083888;
}
.bg-primary {
  background-color: #052458 !important;
}
.btn-primary {
  background-color: #052458;
  border-color: #052458;
}
.btn-primary:hover {
  background-color: #083888;
  border-color: #083888;
  color: #fae016;
}
.lead a,
.lead a:hover {
  color: #052458;
}
.mbr-iconfont-counters1 {
  color: #052458;
}
.article dl dd {
  margin-left: 12em;
}
.mbr-footer {
  background-color: #052458;
}
/* handle permit logos */
.logo {
  background-size: 36px;
  background-position: 12px center;
  background-repeat: no-repeat;
}
.logo a {
  padding-left: 48px;
}
.row div.logo {
  height: 110px;
  background-size: 100px;
  background-position: 50% top;
}
.logo.CRU {
  background-image: url('../../images/clubs/Crusaders.png');
}
.logo.DEV {
  background-image: url('../../images/clubs/Devils.png');
}
.logo.FAL {
  background-image: url('../../images/clubs/Falcons.png');
}
.logo.FRE {
  background-image: url('../../images/clubs/Frenchies.png');
}
.logo.KEL {
  background-image: url('../../images/clubs/Kelpies.png');
}
.logo.KNI {
  background-image: url('../../images/clubs/Knights.png');
}
.logo.ROY {
  background-image: url('../../images/clubs/Royals.png');
}
.logo.STA {
  background-image: url('../../images/clubs/Stags.png');
}
.logo.DRA {
  background-image: url('../../images/clubs/Dragons.png');
}
.logo.GUE {
  background-image: url('../../images/clubs/Guernsey.png');
}
.logo.LIN {
  background-image: url('../../images/clubs/Linces.png');
}
.logo.LIO {
  background-image: url('../../images/clubs/Lions.png');
}
.logo.PUM {
  background-image: url('../../images/clubs/Pumpernickels.png');
}
.logo.ROO {
  background-image: url('../../images/clubs/Roosters.png');
}
.logo.SCH {
  background-image: url('../../images/clubs/Scholars.png');
}
.logo.STE {
  background-image: url('../../images/clubs/Steibök.png');
}
